@model Noticias
@{
    ViewData["Title"] = "Noticias";
}

<form action="@Url.Action("Publicar")" method="post" enctype="multipart/form-data">

    <label for="IdNoticia">IdNoticia</label>
    <input type="text" name="IdNoticia" id="IdNoticia">
    
    <label for="Titulo">Titulo</label>
    <input type="text" name="Titulo" id="Titulo">
    
    <label for="Texto">Texto</label>
    <input type="text" name="Texto" id="Texto">

    <label for="Imagem">Imagem</label>
    <input type="file" name="Imagem" id="Imagem">
    
    <button type="submit">Publicar</button>

</form>

<table class="table table-striped">
    <thead>
        <th>Id</th>
        <th>Titulo</th>
        <th>Texto</th>
        <th>Imagem</th>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.Noticias)
        {
            <tr>
                <td>@item.IdNoticia</td>
                <td>@item.Titulo</td>
                <td>@item.Texto</td>
                <td>
                    <img src="img/Noticias/@item.Imagem" alt="Imagem referente a noticia @item.Titulo"/>
                </td>
                <td>
                    <a asp-asp-area="" asp-controller="Noticias" asp-action="Excluir" asp-route-id="@item.IdNoticia">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>